.privacy-container {
    &-paragraph {
        font-size: 22px;
        text-align: left;
        margin-left: 50px;

        &-link {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .privacy-container {
        &-paragraph {
           font-size: 19px;
        }
    }
}